.footer {

}
.parallax-background {
  width: 100%;
  pointer-events: none;
  position: relative;
  top: 0;
  /* height: 100px; */
}

img.top {
  width: 100vw;
  transform: scale(-1);
  height:250px;
  object-fit:cover;
  object-position: 0% 93%;
  position:relative;
  top: 0;
}

img.bottom {
  width: 100vw;
  height:310px;
  object-fit: cover;
  object-position: 0% 93%;
  position:relative;
  top: 400px;
}

.stationery {
  position:relative;
  z-index: 1;
  top: -360px;
}

